body {
  background-color: $mountbatten-pink;
  color: $smoky-black;
  font-family: 'Lato';
}

.fas {
  color: $arsenic;
}

.navbar {
  background-color: $arsenic !important;
}

.navbar.container {
  color: $shampoo;
}

.center-text {
  text-align: center;
}

.no-list-bullets {
  list-style-type: none;
}

.center-div {
  text-align: center;
}

.inline {
  display: inline;
}

.task-input {
  display: flex;
  justify-content: center;
}

.underline {
  text-decoration: underline;
}

.no-list-bullets li a {
  letter-spacing: 0.5em;
}

.no-list-bullets li p {
  margin-right: 2em;
}

.form-input {
  width: 20%;
}

.full-width {
  width: 100%;
}

.input-group {
  flex: none;
}

.form-control {
  flex: none;
}

.form-input {
  flex: none;
}

.tasks-card {
  margin-top: 2em;
}

.input-card {
  margin-top: 2em;
}

.remove-tasks-button {
  margin-top: 3.5em;
}

.remove-tasks-button a {
  text-decoration: none;
}
